@page "/actions"
@using Protos
@using System.Security.Claims
@using DogtrekkingCzApp.Models
@using DogtrekkingCzApp.Pages.Actions.Manage
@using MapsterMapper
@using MongoDB.Driver
@inject Protos.Actions.Actions.ActionsClient Client
@inject AuthenticationStateProvider AuthStateProvider 
@inject IModalService modal
@inject IStringLocalizer<Resource> localizer
@inject IMapper mapper
@inject NavigationManager NavManager

<h1>@localizer["Actions"]</h1>

@if (_actionList  == null)
{
    <p>
        <em>@localizer["Loading ..."]</em>
    </p>
}
else
{
    <InputSelect @bind-Value="SortingOptionsValue">
        <option value="@SortingOptions.ApprovedWithLockedTermByDate">@localizer["Approved and term locked by date"]</option>
        <option value="@SortingOptions.ApprovedByDate">@localizer["Approved by date"]</option>
        <option value="@SortingOptions.AllByDate">@localizer["All by date"]</option>
    </InputSelect>
    <table class="table">
        <thead>
        <tr>
            <th>@localizer["Term & address of action"]</th>
            <th>@localizer["Name & description of action"]</th>
            <th>@localizer["Enrolled races"]</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var action in _actionList)
        {
            <tr>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-12>@action.Term?.From.ToString("d.M.") - @action.Term?.To.ToString("d.M.")</div>
                            <div class="col-12">@action.Address?.Country, @action.Address?.Region, @action.Address?.City</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">@action.Name</div>
                            <div class="col-12">@action.Description</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            @foreach (var race in @action.Races)
                            {
                                <div class="col-12">@race.Name
                                    @{
                                        var isFirst = true;

                                        var categoriesPerRace = "";
                                        foreach (var ctg in race.Categories)
                                        {
                                            if (isFirst == false)
                                                categoriesPerRace += ", ";
                                            
                                            categoriesPerRace += ctg.Name;
                                            
                                            isFirst = false;
                                        }
                                    }
                                    
                                    [ @categoriesPerRace ]
                                </div>    
                            }
                        </div>
                    </div>
                </td>
                <td>
                    <ActionDropDown Model="@action"></ActionDropDown>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <AuthorizeView>
        <Authorized>
            <button @onclick="@(async () => await PrepareToAddAction())" class="btn btn-primary">Add action ...</button>            
        </Authorized>
    </AuthorizeView>
}

@code {
    private List<ActionModel> _actionList = null;
    private AuthenticationState _authState = null;

    private SortingOptions _sortingOptionsValue = SortingOptions.ApprovedWithLockedTermByDate;
    private SortingOptions SortingOptionsValue
    {
        get { return _sortingOptionsValue; }
        set { _sortingOptionsValue = value; SortActions(); }
    }
    
    private enum SortingOptions
    {
        AllByDate = 1,
        ApprovedByDate = 2,
        ApprovedWithLockedTermByDate = 3
    };

    protected override async Task OnInitializedAsync()
    {
        _authState = await AuthStateProvider.GetAuthenticationStateAsync();

        await ReloadData();
    }

    protected async Task PrepareToAddAction()
    {
        NavManager.NavigateTo($"/action_manage/0");
    }

    private async Task ReloadData()
    {
        Protos.Actions.GetAllActionsResponse response = await Client.getAllActionsAsync(new Protos.Actions.GetAllActionsRequest());

        _actionList = mapper.Map<List<ActionModel>>(response.Actions);
                
        SortActions();
    }

    private void SortActions()
    {
        switch (SortingOptionsValue)
        {
            case SortingOptions.AllByDate:
                _actionList = _actionList
                    .OrderBy(action => action.Term?.From).ToList();
                break;
                
            case SortingOptions.ApprovedWithLockedTermByDate:
                _actionList = _actionList
                    .OrderByDescending(action => action.Term?.From)
                    .ToList();
                    break;
                
            case SortingOptions.ApprovedByDate:
                    _actionList = _actionList
                    .OrderByDescending(action => action.Term?.From)
                        .ToList();
                    break;
        }
        
        StateHasChanged();
    }
}