@using DogtrekkingCzApp.Models
@using Microsoft.AspNetCore.Components
@using BlazorDateRangePicker
@using Grpc.Core
@using MapsterMapper
@inject Protos.Actions.Actions.ActionsClient Client
@inject AuthenticationStateProvider AuthStateProvider 
@inject IStringLocalizer<Resource> localizer
@inject IMapper mapper

<div>
    <EditForm Model="@PassedAction" OnValidSubmit="SubmitForm">
        @if (RequiredAction != RequiredActionEnum.DeleteAction)
        {
            <DataAnnotationsValidator />
            <ValidationSummary />
        }

        <div class="container">
            <section>
                <h4>@localizer["Approvements"]</h4>
                <p>@localizer["Only administrator can change these values"]</p>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="approved">@localizer["Action approved"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputSelect @bind-Value="@PassedAction.Flags.Approved">
                                <option value="true">@localizer["Yes"]</option>
                                <option value="false">@localizer["No"]</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="termLocked">@localizer["Action term locked"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputSelect @bind-Value="@PassedAction.Flags.TermLocked">
                                <option value="true">@localizer["Yes"]</option>
                                <option value="false">@localizer["No"]</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h4>@localizer["Term & name of action"]</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="term">@localizer["Term of action"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <DateRangePicker
                                MinDate="DateTimeOffset.Now"
                                MaxDate="DateTimeOffset.Now.AddYears(1)"
                                @bind-StartDate="ActionStartDate"
                                @bind-EndDate="ActionEndDate"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="name">@localizer["Name of action"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="description">@localizer["Description of action"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Description"/>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h4>@localizer["Address of action"]</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_country">@localizer["Address country"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Address.Country"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_region">@localizer["Address region"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Address.Region"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_city">@localizer["Address city"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Address.City"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_street">@localizer["Address street"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputText @bind-Value="@PassedAction.Address.Street"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_gps_longitude">@localizer["Address GpsLongitude"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputNumber @bind-Value="@PassedAction.Address.GpsLongitude"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label for="address_gps_latitude">@localizer["Address GpsLatitude"]</label>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <InputNumber @bind-Value="@PassedAction.Address.GpsLatitude"/>
                        </div>
                    </div>
                </div>
            </section>

            <hr/>

            <div class="row">
                <div class="col">
                    @if (RequiredAction == RequiredActionEnum.DeleteAction)
                    {
                        <button @onclick="@DeleteAction">@GetActionButtonText()</button>
                    }
                    else
                    {
                        <button type="submit">@GetActionButtonText()</button>
                    }
                </div>
                <div class="col">
                    <button @onclick="Cancel">@localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter] public RequiredActionEnum RequiredAction { get; set; }
    [Parameter] public ActionModel PassedAction { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private string ActionButtonText { get; set; }
    
    [Parameter]
    public EventCallback<Protos.Actions.ActionDto> OnItemChanged { get; set; }

    DateTimeOffset? ActionStartDate
    {
        get { return PassedAction.Term?.From; }
        set { PassedAction.Term.From = value.Value; }
    }
    DateTimeOffset? ActionEndDate
    {
        get { return PassedAction.Term?.To;}
        set { PassedAction.Term.To = value.Value; }
    }
    
    private AuthenticationState _authState = null;
    
    protected override async Task OnInitializedAsync()
    {
        _authState = await AuthStateProvider.GetAuthenticationStateAsync();
    }

    private string GetActionButtonText()
    {
        switch (RequiredAction)
        {
            case RequiredActionEnum.AddAction: 
                return localizer["Add new action"]; 
                
            case RequiredActionEnum.UpdateAction: 
                return localizer["Update action"];
                
            case RequiredActionEnum.DeleteAction:
                return localizer["Delete action"];
        }

        return "";
    }
    
    private async Task SubmitForm()
    {
        if (RequiredAction == RequiredActionEnum.AddAction && string.IsNullOrEmpty(PassedAction.Id))
            await CreateNewAction();
        else if (RequiredAction == RequiredActionEnum.UpdateAction)
            await UpdateAction();
        
        await BlazoredModal.CloseAsync(ModalResult.Ok());
    }

    private async Task Cancel() => await BlazoredModal.CancelAsync();
    
    private async Task CreateNewAction()
    {
        PassedAction.Owner.Id = _authState.User.Claims.FirstOrDefault(claim => claim.Type == "oid")?.Value ?? "";
        PassedAction.Owner.Email = _authState.User.Claims.FirstOrDefault(claim => claim.Type == "email")?.Value ?? "";
        PassedAction.Owner.FirstName = _authState.User.Claims.FirstOrDefault(claim => claim.Type == "given_name")?.Value ?? "";
        PassedAction.Owner.FamilyName = _authState.User.Claims.FirstOrDefault(claim => claim.Type == "family_name")?.Value ?? "";

        PassedAction.Id = "";

        var item = new Protos.Actions.CreateActionRequest
        {
            Action = mapper.Map<Protos.Actions.ActionDto>(PassedAction)
        };
        
        var result = await Client.createActionAsync(item);

        if (string.IsNullOrEmpty(result.Id) == false)
        {
            await OnItemChanged.InvokeAsync(item.Action);
        }
    }

    private async Task UpdateAction()
    {
        var updateActionRequest = new Protos.Actions.UpdateActionRequest
        {
            Action = mapper.Map<Protos.Actions.ActionDto>(PassedAction)
        };

        var result = await Client.updateActionAsync(updateActionRequest);
        
        if (string.IsNullOrEmpty(result.Id) == false)
        {
            await OnItemChanged.InvokeAsync(updateActionRequest.Action);
        }
    }

    private async Task DeleteAction()
    {
        var deleteActionRequest = new Protos.Actions.DeleteActionRequest
        {
            Id = PassedAction.Id
        };

        var result = await Client.deleteActionAsync(deleteActionRequest);

        await OnItemChanged.InvokeAsync(null);
    }
    
    private void OnRangeSelect(DateRange range)
    {
        PassedAction.Term = new ActionModel.TermDto
        {
            From = range.Start,
            To = range.End
        };
    }
}