@page "/category/{ActionId}/{RaceId}/{CategoryId}"

@inherits CategoryViewBase

@inject IStringLocalizer<Resource> Localizer

@* <ResultsAdd 
    ActionId="@ActionId" 
    RaceId="@RaceId"
    RaceBegin="@actionRace.Begin"
    RaceEnd="@actionRace.End"
    CategoryId="@CategoryId"
    OnResultAddedCallback="(args) => ResultAdded(args.Item1, args.Item2, args.Item3)" />
<hr /> *@

<ActionView />

<table class="table">
    <thead>
    <tr>
        <th>@Localizer["#"]</th>
        <th>@Localizer["Results.SurnameName"]</th>
        <th>@Localizer["Results.Time"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var racer in Model.Results
        .OrderBy(r =>
        {
            var totalTime = r.Finish.HasValue && r.Start.HasValue ? r.Finish.Value - r.Start.Value : TimeSpan.MaxValue;
            return (long) totalTime.TotalSeconds;
        }))
    {
        var totalTime = racer.Finish.HasValue && racer.Start.HasValue ? racer.Finish.Value - racer.Start.Value : TimeSpan.MaxValue;
        string time = totalTime == System.TimeSpan.MaxValue ? "--:--:--" : (int) totalTime.TotalHours + totalTime.ToString(@"\:mm\:ss");

        <tr>
            <td>
                <div class="col-12">?</div>
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            @racer.LastName, @racer.FirstName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                @foreach (var pet in racer.Pets)
                                {
                                    <li>@pet</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-12">@Localizer["Results.Start"]: @racer.Start?.ToString("dd HH:mm:ss")</div>
                        <div class="col-12">@Localizer["Results.Finish"]: @racer.Finish?.ToString("dd HH:mm:ss")</div>
                        <hr />
                        <div class="col-12"><b>@time</b></div>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
