@page "/userprofile/manage"
@using DogsOnTrailApp.Models
@using DogsOnTrailApp.Services
@using SharedCode.Entities
@using MapsterMapper
@using Protos.Shared
@using Protos.UserProfiles

@inject Protos.UserProfiles.UserProfiles.UserProfilesClient UserProfilesClient
@inject IStringLocalizer<Resource> localizer
@inject IMapper mapper
@inject IUserProfileService UserProfileService

<h1>@localizer["UserProfile.Manage"]</h1>

<EditForm Model="UserProfile" OnValidSubmit="SendAsync">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Name"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.FirstName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Surname"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.LastName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Email"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Contact.EmailAddress"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Phone"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Contact.PhoneNumber"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Street"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Address.Street"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Region"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Address.Region"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.City"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Address.City"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Country"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Address.Country"/>
                </div>
            </div>
            @* <div class="row"> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <label>@localizer["UserProfile.Manage.Position.GpsLatitude"]</label> *@
            @*     </div> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <InputText @bind-Value="@UserProfile.Address.Position.GpsLatitude"/> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="row"> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <label>@localizer["UserProfile.Manage.Position.GpsLongitude"]</label> *@
            @*     </div> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <InputText @bind-Value="@UserProfile.Address.Position.GpsLongitude"/> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="row"> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <label>@localizer["UserProfile.Manage.Birthday"]</label> *@
            @*     </div> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <InputText @bind-Value="@UserProfile.Birthday"/> *@
            @*     </div> *@
            @* </div> *@
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["UserProfile.Manage.Nickname"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@UserProfile.Nickname"/>
                </div>
            </div>
            @* <div class="row"> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <label>@localizer["UserProfile.Manage.CompetitorId"]</label> *@
            @*     </div> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <InputText @bind-Value="@UserProfile.CompetitorId"/> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="row"> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <label>@localizer["UserProfile.Manage.Dogs"]</label> *@
            @*     </div> *@
            @*     <div class="col-xs-12 col-md-6"> *@
            @*         <InputText @bind-Value="@UserProfile.Dogs"/> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </section>
    <hr />
    <input type="submit" class="btn btn-primary" value="@localizer["UserProfile.Manage.Submit"]" />
</EditForm>

@code {

    [Parameter]
    public UserProfileModel UserProfile { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var myUserProfile = await UserProfilesClient.getUserProfileAsync(new GetUserProfileRequest());
        
        if (myUserProfile == null || myUserProfile.UserProfile == null)
            return;
        
        UserProfileService.SetUserProfile(mapper.Map<UserProfileDto>(myUserProfile.UserProfile));
        
        UserProfile = UserProfileService.Get();
    }

    protected async Task SendAsync()
    {
        await UserProfilesClient.updateUserProfileAsync(new UpdateUserProfileRequest
        {
            UserProfile = mapper.Map<UserProfile>(UserProfile)
        });

        var userProfile = await UserProfilesClient.getUserProfileAsync(new GetUserProfileRequest());
        
        if (userProfile == null || userProfile.UserProfile == null)
            return;

        UserProfileService.SetUserProfile(mapper.Map<UserProfileDto>(userProfile.UserProfile));

        UserProfile = UserProfileService.Get();
    }
}