@page "/entries"
@using DogsOnTrailApp.Models
@using Google.Protobuf.Collections
@using MapsterMapper
@inject Protos.Entries.Entries.EntriesClient Client
@inject Protos.Actions.Actions.ActionsClient ActionsClient
@inject AuthenticationStateProvider AuthStateProvider 
@inject IStringLocalizer<Resource> localizer
@inject IMapper mapper
@inject NavigationManager NavManager

<h1>@localizer["Entries"]</h1>

@if (_entriesList  == null)
{
    <p>
        <em>@localizer["Loading ..."]</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@localizer["Surname"], @localizer["Name"]</th>
            <th>Action - Race - Category</th>
            <th>Dogs</th>
            <th>@localizer["Actions"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in _entriesList)
        {
            <tr>
                <td>
                    <div class="col-12">@entry.Surname, @entry.Name</div>
                </td>
                <td>
                    <div class="col-12">@entry.ActionId - @entry.RaceId - @entry.CategoryId</div>
                </td>
                <td>
                    <ul>
                        @foreach (var dog in entry.Dogs)
                        {
                            <li>@dog.Chip - @dog.Birthday?.ToString("yyyy-MM-dd") - @dog.Pedigree - @dog.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ActionDropDown Model="@entry"></ActionDropDown>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<EntryModel> _entriesList = null;

    protected override async Task OnInitializedAsync()
    {
        await ReloadDataAsync();
    }

    private async Task ReloadDataAsync()
    {
        Protos.Entries.GetAllEntriesResponse response = await Client.getAllEntriesAsync(new Protos.Entries.GetAllEntriesRequest());

        _entriesList = mapper.Map<List<EntryModel>>(response.Entries);

        var selectedActions = await ActionsClient.getSelectedActionsAsync(new Protos.Actions.GetSelectedActionsRequest
        {
            Ids = { _entriesList.Select(entry => entry.ActionId.ToString()).ToList() }
        });
    }
}