@page "/activity/{UserId}/{ActivityId}"

@inherits ActivityViewBase

@inject IStringLocalizer<Resource> Localizer

<h3>ActivityView</h3>

<style>
    #mapId {
        height: 400px;
    }
</style>

@if (Model == null)
{
    <Loading />
}
else
{
    <div>
        <h3>@Localizer["Activity"]</h3>
        <hr />
        <p>@Localizer["ActivityId"] : @Model.Id</p>
        <p>@Localizer["Name"] : @Model.Name</p>
        <p>@Localizer["Description"] : @Model.Description</p>
        <p>@Localizer["StartTime"] : @Model.Start</p>
        <p>@Localizer["EndTime"] : @Model.End</p>
        <hr />

        <button class="btn btn-info" @onclick="(async () => await LoadAsync())">@Localizer["Race"]</button>
        <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
    </div>
}

