@page "/category/{ActionId}/{RaceId}/{CategoryId}/excel"

@using PetsOnTrailApp.Components.ActionViewHeader
@using PetsOnTrailApp.Components.General.DateTimeInput

@inherits CategoryExcelViewBase

@inject IStringLocalizer<Resource> Localizer


<ActionViewHeader ActionId="@ActionId" />

@if (CanIEditResults)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="excel-table">
                    <thead>
                        <tr>
                            <th>@Localizer["#"]</th>
                            <th>@Localizer["Results.Surname"]</th>
                            <th>@Localizer["Results.Name"]</th>
                            <th>@Localizer["Results.Pet"]</th>
                            <th>@Localizer["Results.Start"]</th>
                            <th>@Localizer["Results.Checkpoint1"]</th>
                            <th>@Localizer["Results.Finish"]</th>
                            <th>@Localizer["Results.Time"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var competitor in tableData)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <DateTimeInput Value="competitor.Start" />
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}