@page "/categories/{ActionId}/{RaceId}"

@using PetsOnTrailApp.Components.ActionView
@using PetsOnTrailApp.Components.ActionViewHeader
@using PetsOnTrailApp.Components.Loading

@inherits CategoriesViewBase

@inject IStringLocalizer<Resource> Localizer

<h1>@Localizer["Results"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    <ActionViewHeader ActionId="@ActionId" />

    bool isEven = true;

    <div class="container">
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                var color = isEven ? "btn-primary" : "btn-info";

                <div class="col">
                    <button class="btn @color" @onclick="(() => NavigateToCategoryOf(category.Id))">
                        @category.Name
                    </button>
                </div>

                isEven = !isEven;
            }
        </div>
    </div>

    <hr />

    <table class="table">
        <thead>
        <tr>
            <th>@Localizer["#"]</th>
            <th>@Localizer["Results.Category"]</th>
            <th>@Localizer["Results.SurnameName"]</th>
            <th>@Localizer["Results.Start"]</th>
            <th>@Localizer["Results.Finish"]</th>
            <th>@Localizer["Results.Time"]</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                var resultsPerCategory = Results[category.Id];
                var order = 1;

                @foreach (var racer in resultsPerCategory.Results.OrderBy(r => r.Finish.HasValue && r.Start.HasValue ? r.Finish.Value - r.Start.Value : TimeSpan.MaxValue))
                {
                    <tr>
                        <td>
                            <div class="col-12">
                                @if (racer.State == Models.ResultsModel.ResultState.Finished)
                                {
                                    <i>@order</i>
                                    
                                    order++;
                                }
                                else
                                {
                                    <i>-</i>
                                }
                            </div>
                        </td>
                        <td>
                            @category.Name
                        </td>
                        <td>
                            @racer.LastName, @racer.FirstName
                        </td>
                        <td>
                            @if (racer.Start.HasValue)
                            {
                                @racer.Start.Value.ToLocalTime().ToString("dd HH:mm:ss")
                            }
                            
                            @if (CanIEditResults)
                            {
                                <button class="btn btn-sm btn-warning" @onclick="async () => await StartNow(category.Id, racer.Id)">
                                    <i class="fas fa-times">@Localizer["Results.Now"]</i>
                                </button>
                            }
                        </td>
                        <td>
                            @if (racer.Finish.HasValue)
                            {
                                @racer.Finish.Value.ToLocalTime().ToString("dd HH:mm:ss")
                            }

                            @if (CanIEditResults)
                            {
                                <button class="btn btn-sm btn-warning" @onclick="async () => await FinishNow(category.Id, racer.Id)">
                                    <i class="fas fa-times">@Localizer["Results.Now"]</i>
                                </button>
                            }
                        </td>
                        <td>
                            <div class="col-12">
                                @if (racer.Finish.HasValue && racer.Start.HasValue)
                                {
                                    var totalTime = racer.Finish.Value - racer.Start.Value;
                                    @totalTime.ToString(@"hh\:mm\:ss")
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}