@page "/user_activities/{UserId}"

@inherits UserActivitiesViewBase

@inject IStringLocalizer<Resource> Localizer

<h3>User Activities View</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    foreach (var activity in Model.Activities)
    {
        <div>
            <h3>@Localizer["Activity"]</h3>
            <hr />
            <p>@Localizer["ActivityId"] : @activity.Id</p>
            <p>@Localizer["Name"] : @activity.Name</p>
            <p>@Localizer["Description"] : @activity.Description</p>
            <p>@Localizer["StartTime"] : @activity.Start</p>
            <p>@Localizer["EndTime"] : @activity.End</p>
            <p><button class="btn btn-info" @onclick="(() => NavigateToActivity(activity.Id.ToString()))">@Localizer["Go to this activity"]</button></p>
            <hr />
        </div>
    }
}

