@using PetsOnTrailApp.Shared
@using SharedLib.Models
@using PetsOnTrailApp.Components
@inject IStringLocalizer<Resource> localizer

<h3>CreateEntryPetsComponent</h3>

<section>
    <table>
        <thead>
        <tr>
            <th>@localizer["Action.CreateEntry.Dogs.Chip"]</th>
            <th>@localizer["Action.CreateEntry.Dogs.Pedigree"]</th>
            <th>@localizer["Action.CreateEntry.Dogs.Name"]</th>
            <th>@localizer["Action.CreateEntry.Dogs.Age"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pet in Pets)
        {
            var age = Race.Start - (pet.Birthday ?? DateTimeOffset.Now);
            var ageInYears = (Math.Floor(age.TotalDays / 365));
            var isValid = RaceLimits.MinimalAgeOfThePetInDayes <= age.TotalDays;
            var message = "";

            if (!isValid)
            {
                message = string.Format("{0} ({1}: '{2} / {3}')", 
                    localizer["Messages.Limits.Failed.MinimalAgeOfDogForRace"], 
                    localizer["Messages.Limits.Info.MinimalAgeOfDogForRaceInDaysIs"], 
                    RaceLimits.MinimalAgeOfThePetInDayes,
                    Math.Floor(age.TotalDays));
            }
                
            <tr>
                <td>@pet.Chip</td>
                <td>@pet.Pedigree</td>
                <td>@pet.Name</td>
                <td>@ageInYears @message</td>
            </tr>
        }
        </tbody>
        <hr />
        
    </table>
</section>
<section>
    <EditForm Model="NewPet" OnValidSubmit="AddNewPet">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["Action.CreateEntry.Dogs.Chip"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@NewPet.Chip"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["Action.CreateEntry.Dogs.Pedigree"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@NewPet.Pedigree"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["Action.CreateEntry.Dogs.Name"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputText @bind-Value="@NewPet.Name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>@localizer["Action.CreateEntry.Dogs.Birthday"]</label>
                </div>
                <div class="col-xs-12 col-md-6">
                    <InputDateTime id="NewPetBirthday" class="form-control col-sm-8" @bind-Value="@NewPet.Birthday"></InputDateTime>
                </div>
            </div>
        </div>
        
        <hr />
        <input type="submit" class="btn btn-primary" value="@localizer["Action.CreateEntry.Dogs.AddNewDog"]" />
    </EditForm>
</section>

@code {

    [Parameter]
    public List<EntryModel.PetDto> Pets { get; set; } = new();
    
    [Parameter]
    public ActionSettingsModel.RaceDto Race { get; set; }
    
    [Parameter]
    public ActionSettingsModel.RaceLimits RaceLimits { get; set; }

    private EntryModel.PetDto NewPet { get; set; } = new();
    
    private DateTimeOffset NewDogBirthday { get; set; }
    private DateTimeOffset NewDogVaccinationDate { get; set; }

    private void AddNewPet()
    {
        Pets.Add(NewPet);

        NewPet = new();
    }
}