@page "/checkpoints_manage/{ActionId?}/{CheckpointId?}/{UserId?}"

@using PetsOnTrailApp.Models
@using MapsterMapper
@using PetsOnTrailApp.Extensions
@using Protos.Actions.GetSelectedActions
@using Protos.Checkpoints.GetCheckpoints
@using Protos.UserProfiles.GetSelectedSurnameName
@using System.Globalization

@inject Protos.Checkpoints.Checkpoints.CheckpointsClient CheckpointsClient
@inject Protos.Actions.Actions.ActionsClient ActionsClient
@inject Protos.UserProfiles.UserProfiles.UserProfilesClient UserProfilesClient
@inject IStringLocalizer<Resource> Loc
@inject IMapper Mapper

<h3>@Loc["CheckpointsManage.Title"]</h3>
<h5>@Loc["CheckpointsManage.Description"]</h5>

<Switch @bind-Value="ShowDateTime" Label="@Loc["CheckpointManage.Show.DateTime"]" />
<Switch @bind-Value="ShowPosition" Label="@Loc["CheckpointManage.Show.Position"]" />
<Switch @bind-Value="ShowMapyCzLink" Label="@Loc["CheckpointManage.Show.MapyCzLink"]" />
<Switch @bind-Value="ShowName" Label="@Loc["CheckpointManage.Show.Name"]" />
<Switch @bind-Value="ShowData" Label="@Loc["CheckpointManage.Show.Data"]" />
<Switch @bind-Value="ShowResolvedData" Label="@Loc["CheckpointManage.Show.ResolvedData"]" />
<Switch @bind-Value="ShowAction" Label="@Loc["CheckpointManage.Show.Action"]" />
<Switch @bind-Value="ShowCheckpoint" Label="@Loc["CheckpointManage.Show.Checkpoint"]" />
<Switch @bind-Value="ShowUser" Label="@Loc["CheckpointManage.Show.User"]" />
<Switch @bind-Value="ShowNote" Label="@Loc["CheckpointManage.Show.Note"]" />

@if (_checkpointsList  == null)
{
    <p>
        <em>@Loc["Loading ..."]</em>
    </p>
}
else
{
    <table>
        <thead>
            <tr>
                @if (ShowDateTime == true)
                {
                    <th>@Loc["Checkpoint.DateTime"]</th>
                }
                
                @if (ShowPosition == true)
                {
                    <th>@Loc["Checkpoint.Position"]</th>
                }
                
                @if (ShowMapyCzLink == true)
                {
                    <th>@Loc["Checkpoint.MapyCzLink"]</th>
                }
                
                @if (ShowName == true)
                {
                    <th>@Loc["Checkpoint.Name"]</th>
                }
                
                @if (ShowData == true)
                {
                    <th>@Loc["Checkpoint.Data"]</th>
                }
                
                @if (ShowResolvedData == true)
                {
                    <th>@Loc["Checkpoint.ResolvedData"]</th>
                }
                
                @if (ShowAction == true)
                {
                    <th>@Loc["Checkpoint.Action"]</th>
                }
                
                @if (ShowCheckpoint == true)
                {
                    <th>@Loc["Checkpoint.Checkpoint"]</th>
                }
                
                @if (ShowUser == true)
                {
                    <th>@Loc["Checkpoint.User"]</th>
                }
                
                @if (ShowNote == true)
                {
                    <th>@Loc["Checkpoint.Note"]</th>
                }
            </tr>
        </thead>
        <tbody>
    
        @foreach (var checkpoint in _checkpointsList
            .OrderByDescending(c => c.CheckpointTime))
        {
            var positionInString = $"{checkpoint.Position.Latitude}N, {checkpoint.Position.Longitude}E";
            var actionName = ResolveAction(checkpoint.ActionId);
            var checkpointName = ResolveCheckpoint(checkpoint.ActionId, checkpoint.CheckpointId);
            var userName = ResolveUser(checkpoint.UserId);
            var resolvedData = ResolveData(checkpoint.ActionId, checkpoint.Data);
            var linkToMapyCz = string.Format(CultureInfo.InvariantCulture, "https://en.mapy.cz/zakladni?x={0}&y={1}&z=12&source=coor&id={0}%2C{1}&ds=1", checkpoint.Position.Longitude, checkpoint.Position.Latitude);

            <tr>
                @if (ShowDateTime == true)
                {
                    <td>@checkpoint.CheckpointTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                }
                
                @if (ShowPosition == true)
                {
                    <td>@positionInString</td>
                }
                
                @if (ShowMapyCzLink == true)
                {
                    <td><a href="@linkToMapyCz">Mapy.CZ</a></td>
                }
                
                @if (ShowName == true)
                {
                    <td>@checkpoint.Name</td>
                }
                
                @if (ShowData == true)
                {
                    <td>@checkpoint.Data</td>
                }
                
                @if (ShowResolvedData == true)
                {
                    <td>@resolvedData</td>
                }
                
                @if (ShowAction == true)
                {
                    <td>@actionName</td>
                }
                
                @if (ShowCheckpoint == true)
                {
                    <td>@checkpointName</td>
                }
                
                @if (ShowUser == true)
                {
                    <td>@userName</td>
                }
                
                @if (ShowNote == true)
                {
                    <td>@checkpoint.Note</td>
                }
            </tr>
        }
        
        </tbody>
    </table>
}
    
@code {

    [Parameter]
    public string ActionId { get; set; } = Guid.Empty.ToString();

    [Parameter]
    public string CheckpointId { get; set; } = Guid.Empty.ToString();

    [Parameter]
    public string UserId { get; set; } = string.Empty;

    [Parameter]
    public double? Lat { get; set; } = double.NaN;

    [Parameter]
    public double? Lng { get; set; } = double.NaN;

    [Parameter]
    public double? DistanceFromPosition { get; set; } = double.NaN;


    private bool ShowDateTime { get; set; } = true;
    private bool ShowPosition { get; set; } = true;
    private bool ShowMapyCzLink { get; set; } = false;
    private bool ShowName { get; set; } = false;
    private bool ShowData { get; set; } = false;
    private bool ShowResolvedData { get; set; } = false;
    private bool ShowAction { get; set; } = false;
    private bool ShowCheckpoint { get; set; } = false;
    private bool ShowUser { get; set; } = false;
    private bool ShowNote { get; set; } = true;

    private List<ActionModel> _usedActions = new List<ActionModel>();
    
    private List<CheckpointModel> _checkpointsList { get; set; } = null;

    private List<(string Id, string Name, string Surname, string Nickname)> _usedUserProfiles { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var response = await CheckpointsClient.getCheckpointsAsync(new GetCheckpointsRequest
        {
            From = DateTimeOffset.Now.AddDays(-1).ToGoogleDateTime(),
            ActionId = string.IsNullOrWhiteSpace(ActionId) ? Guid.Empty.ToString() : ActionId,
            CheckpointId = string.IsNullOrWhiteSpace(CheckpointId) ? Guid.Empty.ToString() : CheckpointId,
            UserId = string.IsNullOrWhiteSpace(UserId) ? string.Empty : UserId,
            Position = (Lat != null && Lng != null) ? new Google.Type.LatLng
            {
                Latitude = Lat ?? double.NaN,
                Longitude = Lng ?? double.NaN
            } : null,
            PositionDistanceInMeters = DistanceFromPosition ?? double.NaN
        });
        
        _checkpointsList = Mapper.Map<List<CheckpointModel>>(response.Items);

        var actionList = _checkpointsList
            .Where(checkpoint => checkpoint.ActionId != Guid.Empty)
            .Select(checkpoint => checkpoint.ActionId.ToString())
            .Distinct()
            .ToList();

        var selectedActions = await ActionsClient.getSelectedPublicActionsListAsync(new Protos.Actions.GetSelectedPublicActionsList.GetSelectedPublicActionsListRequest
        {
            Ids = { actionList }
        });

        _usedActions = selectedActions.Actions.Select(sa => Mapper.Map<ActionModel>(sa)).ToList();
        
        StateHasChanged();

        var usersList = _checkpointsList
            .Where(checkpoint => string.IsNullOrWhiteSpace(checkpoint.UserId) == false)
            .Select(checkpoint => checkpoint.UserId)
            .Distinct()
            .ToList();

        var selectedUserProfiles = await UserProfilesClient.getSelectedSurnameNameAsync(new GetSelectedSurnameNameRequest
        {
            Ids = { usersList }
        });

        _usedUserProfiles = selectedUserProfiles.Items.Select(up => (Id: up.Id, Name: up.Name, Surname: up.Surname, Nickname: up.Nickname)).ToList();
        
        StateHasChanged();
    }

    private string ResolveAction(Guid actionId)
    {
        return _usedActions
            .FirstOrDefault(ua => ua.Id == actionId)?.Name 
               ?? (actionId != Guid.Empty ? actionId.ToString() : "");
    }

    private string ResolveCheckpoint(Guid actionId, Guid checkpointId)
    {
        return _usedActions
            .FirstOrDefault(ua => ua.Id == actionId)?.Checkpoints?.FirstOrDefault(checkpoint => checkpoint.Id == checkpointId)?.Name
            ?? (checkpointId != Guid.Empty ? checkpointId.ToString() : "");
    }

    private string ResolveUser(string userId)
    {
        var identifiedUser = _usedUserProfiles?
            .FirstOrDefault(up => up.Id == userId);

        if (identifiedUser == null)
            return userId;

        return $"{identifiedUser.Value.Surname}, {identifiedUser.Value.Name} ({identifiedUser.Value.Nickname})";
    }

    private string ResolveData(Guid actionId, string data)
    {
        return data;
    }
}