@page "/results/{ActionId}"
@using DogtrekkingCzShared.Entities
@using MapsterMapper
@using Protos.Results
@inject Protos.Results.Results.ResultsClient ResultsClient
@inject IStringLocalizer<Resource> Localizer
@inject IMapper Mapper

<h1>@Localizer["Results"]</h1>

@if (_races  == null)
{
    <p>
        <em>@Localizer["Loading ..."]</em>
    </p>
}
else
{
    foreach (var race in _races)
    {
        <div class="">
            @foreach (var category in race.Categories)
            {
                @* <ResultsAdd ActionId="@ActionId" Race="@race" Category="@category" OnResultAddedCallback="(result) => ResultAdded(ActionId, race.Id, category.Id, result)"></ResultsAdd> *@
                <ResultsCategory ActionId="@ActionId" Race="@race" Category="@category" />
            }
        </div>
    }
}

@code {
    [Parameter] public string ActionId { get; set; }
    private List<RaceDto> _races = null;
    
    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    private async Task ReloadData()
    {
        Protos.Results.GetRacesForActionResponse response = await ResultsClient.getRacesForActionAsync(new GetRacesForActionRequest { ActionId = ActionId });

        _races = Mapper.Map<List<RaceDto>>(response.Races);
    }
}