@page "/results/{ActionId}"
@using DogtrekkingCzApp.Models
@using DogtrekkingCzShared.Entities
@using MapsterMapper
@using Protos.Results
@inject Protos.Results.Results.ResultsClient ResultsClient
@inject AuthenticationStateProvider AuthStateProvider 
@inject IStringLocalizer<Resource> localizer
@inject IMapper Mapper
@inject NavigationManager NavManager

<h1>@localizer["Results"]</h1>

@if (_races  == null)
{
    <p>
        <em>@localizer["Loading ..."]</em>
    </p>
}
else
{
    foreach (var race in _races)
    {
        <div class="">
            @foreach (var category in race.Categories)
            {
                <ResultsAdd ActionId="@ActionId" Race="@race" Category="@category"></ResultsAdd>
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>@localizer["#"]</th>
                        <th>@localizer["Surname"]</th>
                        <th>@localizer["Name"]</th>
                        <th>@localizer["Start"]</th>
                        <th>@localizer["Finish"]</th>
                        <th>@localizer["Time"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var racer in category.Racers)
                    {
                        var time = racer.Finish.HasValue && racer.Start.HasValue ? (racer.Finish.Value - racer.Start.Value).ToString("HH:mm:ss") : "--:--:--";

                        <tr>
                            <td>
                                <div class="col-12">?</div>
                            </td>
                            <td>
                                <div class="col-12">@racer.LastName</div>
                            </td>
                            <td>
                                <div class="col-12">@racer.FirstName</div>
                            </td>
                            <td>
                                <div class="col-12">@racer.Start?.ToString("dd HH:mm:ss")</div>
                            </td>
                            <td>
                                <div class="col-12">@racer.Finish?.ToString("dd HH:mm:ss")</div>
                            </td>
                            <td>
                                <div class="col-12">@time</div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    }
}

@code {
    [Parameter] public string ActionId { get; set; }
    private List<RaceDto> _races = null;

    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    private async Task ReloadData()
    {
        Protos.Results.GetRacesForActionResponse response = await ResultsClient.getRacesForActionAsync(new GetRacesForActionRequest { ActionId = ActionId });

        _races = Mapper.Map<List<RaceDto>>(response.Races);
    }
}