@using Microsoft.AspNetCore.Components
@using DogtrekkingCzApp.Models
@inject IStringLocalizer<Resource> localizer

<h3>ActionLocationComponent</h3>
<section>
    <h4>@localizer["Address of action"]</h4>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_country">@localizer["Address country"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.Country"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_region">@localizer["Address region"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.Region"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_city">@localizer["Address city"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.City"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_street">@localizer["Address street"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.Street"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_gps_longitude">@localizer["Address GpsLongitude"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputNumber @bind-Value="@Model.Address.Position.GpsLongitude"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="address_gps_latitude">@localizer["Address GpsLatitude"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputNumber @bind-Value="@Model.Address.Position.GpsLatitude"/>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public ActionModel Model { get; set; }
}