@using Microsoft.AspNetCore.Components
@using DogtrekkingCzApp.Models
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["Action approves"]</h3>

<section>
    <h4>@localizer["Approves"]</h4>
    <p>@localizer["Only administrator can change these values"]</p>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <label for="approved">@localizer["Action approved"]</label>
            </div>
            <div class="col-xs-6 col">
                <InputSelect @bind-Value="@Model.Flags.Approved">
                    <option value="true">@localizer["Yes"]</option>
                    <option value="false">@localizer["No"]</option>
                </InputSelect>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="termLocked">@localizer["Action term locked"]</label>
            </div>
            <div class="col-xs-6">
                <InputSelect @bind-Value="@Model.Flags.TermLocked">
                    <option value="true">@localizer["Yes"]</option>
                    <option value="false">@localizer["No"]</option>
                </InputSelect>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public ActionModel Model { get; set; }
}