@using MapsterMapper
@using Protos.Results
@using PetsOnTrailApp.Shared
@using SharedLib.Models

@inject IStringLocalizer<Resource> Localizer
@inject IMapper Mapper
@inject Protos.Results.Results.ResultsClient ResultsClient

<h3>@Race.Name - @Category.Name</h3>

<table class="table">
    <thead>
    <tr>
        <th>@Localizer["#"]</th>
        <th>@Localizer["Results.SurnameName"]</th>
        <th>@Localizer["Results.Time"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var racer in Category.Racers
        .OrderBy(r =>
        {
            var totalTime = r.Finish.HasValue && r.Start.HasValue ? r.Finish.Value - r.Start.Value : TimeSpan.MaxValue;
            return (long) totalTime.TotalSeconds;
        }))
    {
        var totalTime = racer.Finish.HasValue && racer.Start.HasValue ? racer.Finish.Value - racer.Start.Value : TimeSpan.MaxValue;
        string time = totalTime == System.TimeSpan.MaxValue ? "--:--:--" : (int) totalTime.TotalHours + totalTime.ToString(@"\:mm\:ss");

        <tr>
            <td>
                <div class="col-12">?</div>
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            @racer.LastName, @racer.FirstName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                @foreach (var pet in racer.Pets)
                                {
                                    <li>@pet.Name [@pet.Pedigree]</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-12">@Localizer["Results.Start"]: @racer.Start?.ToString("dd HH:mm:ss")</div>
                        <div class="col-12">@Localizer["Results.Finish"]: @racer.Finish?.ToString("dd HH:mm:ss")</div>
                        <hr />
                        <div class="col-12"><b>@time</b></div>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter] public string ActionId { get; set; }
    [Parameter] public ActionResultsModel.RaceResultsDto Race { get; set; }
    [Parameter] public ActionResultsModel.CategoryResultsDto Category { get; set; }
}