@using MapsterMapper
@using Protos.Results
@using PetsOnTrailApp.Shared
@using PetsOnTrailApp.Extensions
@using SharedLib.Extensions
@using SharedLib.Models
@using PetsOnTrailApp.Components

@inject IStringLocalizer<Resource> Localizer
@inject Protos.Results.Results.ResultsClient ResultsClient
@inject IMapper Mapper

<h3>@Localizer["Results.Manage.Add"]</h3>
<section>
    <div class="container">
        <div class="form-group row">
            <label class="col-sm-3">@Localizer["Results.Manage.Add.Firstname"]</label>
            <InputText class="form-control col-sm-8" @bind-Value="@Model.FirstName"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">@Localizer["Results.Manage.Add.Lastname"]</label>
            <InputText class="form-control col-sm-8" @bind-Value="@Model.LastName"/>
        </div>
        <div class="form-group row">
            <label for="startDate class="col-sm-3">@Localizer["Results.Manage.Add.Start"]</label>
            <InputDateTime id="startDate" class="form-control col-sm-8" @bind-Value="@Model.Start"></InputDateTime>
        </div>
        <div class="form-group row">
            <label for="finishDate" class="col-sm-3">@Localizer["Results.Manage.Add.Finish"]</label>
            <InputDateTime id="finishDate" class="form-control col-sm-8" @bind-Value="@Model.Finish"></InputDateTime>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">@Localizer["Results.Manage.Add.WholeTime"]</label>
            @* <InputTimeCalcComponent class="form-control col-sm-8" Model="@WholeTimeProxy" /> *@
        </div>
    </div>
</section>
<button @onclick="@(async () => await SubmitAsync())" class="btn btn-primary">@Localizer["Results.AddResult.Submit"]</button>

@code {
    [Parameter] public string ActionId { get; set; }
    [Parameter] public Guid RaceId { get; set; }
    [Parameter] public Guid CategoryId { get; set; }
    [Parameter] public DateTimeOffset RaceBegin { get; set; }

    [Parameter]
    public EventCallback<ActionModel.RacerDto> OnResultAddedCallback { get; set; }

    private ActionModel.RacerDto Model = new();

    public string FirstName { get; set; }
    public string LastName { get; set; }
    private string Phone { get; set; }
    private string Email { get; set; }
    private AddNewResult_FinalState State { get; set; }
    private Google.Type.DateTime Start { get; set; }
    private Google.Type.DateTime Finish { get; set; }


    private InputTimeModel StartProxy = new();
    private InputTimeModel FinishProxy = new();
    private InputTimeSpanModel WholeTimeProxy = new();

    protected async Task SubmitAsync()
    {
        if (StartProxy.IsValid)
            Start = StartProxy.Value;

        if (FinishProxy.IsValid)
            Finish = FinishProxy.Value;

        if (WholeTimeProxy.IsValid)
        {
            Start = RaceBegin.ToGoogleDateTime();
            Finish = (RaceBegin.AddSeconds(WholeTimeProxy.Value.Seconds)).ToGoogleDateTime();
        }

        await ResultsClient.addResultAsync(new AddResultRequest {
            ActionId = ActionId,
            RaceId = RaceId.ToString(),
            CategoryId = CategoryId.ToString(),
            FirstName = FirstName,
            LastName = LastName,
            Phone = Phone,
            Email = Email,
            State = Mapper.Map<AddResultRequest_FinalState>(State),
            Start = Start,
            Finish = Finish
        });

        await OnResultAddedCallback.InvokeAsync();
    }
}