@inherits ActionViewBase

@inject IStringLocalizer<Resource> Localizer

@if (Model == null)
{
    <Loading />
}
else
{
    <div>
        <b>@Model.Name</b> - @Model.Begin.ToString("dd.MM.yyyy") - @Model.End.ToString("dd.MM.yyyy") (@Model.City) - Data from: <i>@Model.SynchronizedAt.ToString("dd.MM.yyyy HH:mm")</i>
    </div>
    <hr />
}
