@using Microsoft.AspNetCore.Components
@using DogsOnTrailApp.Models
@using DogsOnTrailApp.Shared
@using SharedCode.Extensions
@using BootstrapBlazor.Components
@inject IStringLocalizer<Resource> localizer

<section>
    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.Name"]</label>
        <input type="text" @bind="@Model.Name" required />
    </div>

    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.Surname"]</label>
        <input type="text" @bind="@Model.Surname" required />
    </div>
    
    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.Email"]</label>
        <input type="email" @bind="@Model.Email" required />
    </div>
    
    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.Phone"]</label>
        <input type="tel" @bind="@Model.Phone" required />
    </div>

    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.AddressStreet"]</label>
        <input type="text" @bind="@Model.Address.Street" />
    </div>
    
    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.AddressCity"]</label>
        <input type="text" @bind="@Model.Address.City" />
    </div>
    
    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.AddressZipCode"]</label>
        <input type="text" @bind="@Model.Address.ZipCode" />
    </div>

    <div class="nice-form-group">
        <label>@localizer["Action.CreateEntry.Person.Birthday"]</label>
        <InputDateComponent @bind-Date="Model.Birthday"/>
    </div>
</section>

@code {
    [Parameter]
    public EntryModel Model { get; set; }
}