@using Microsoft.AspNetCore.Components
@using DogsOnTrailApp.Models
@using DogsOnTrailApp.Shared
@using SharedCode.Extensions
@using BootstrapBlazor.Components
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["Action.CreateEntry.Person"]</h3>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.Name"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Name"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.Surname"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Surname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.Email"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Email"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.Phone"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Phone"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.AddressStreet"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.Street"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.AddressCity"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.City"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.AddressZipCode"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputText @bind-Value="@Model.Address.ZipCode"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>@localizer["Action.CreateEntry.Person.Birthday"]</label>
            </div>
            <div class="col-xs-12 col-md-6">
                <InputDateComponent Model="Birthday" />
            </div>
        </div>
    </div>
</section>

<input type="button" value="@localizer["Button.Previous"]" @onclick="() => Previous())"/>
<input type="button" value="@localizer["Button.Next"]" @onclick="() => Next())"/>

@code {
    [Parameter]
    public EntryModel Model { get; set; }

    private InputTimeModel Birthday { get; set; } = new();

    private void Previous()
    {
        if (Birthday.IsValid)
            Model.Birthday = Birthday.Value.ToDateTimeOffset();
        
    }
    
    private void Next()
    {
        if (Birthday.IsValid)
            Model.Birthday = Birthday.Value.ToDateTimeOffset();
        
    }
}