@using PetsOnTrailApp.Models
@using MapsterMapper
@using Protos.Results
@using PetsOnTrailApp.Shared

@inject IStringLocalizer<Resource> Localizer
@inject IMapper Mapper
@inject Protos.Results.Results.ResultsClient ResultsClient

<h3>@Category.Name</h3>

<table class="table">
    <thead>
    <tr>
        <th>@Localizer["#"]</th>
        <th>@Localizer["Surname"]</th>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Start"]</th>
        <th>@Localizer["Finish"]</th>
        <th>@Localizer["Time"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var racer in Category.Racers
        .OrderBy(r =>
        {
            var totalTime = r.Finish.HasValue && r.Start.HasValue ? r.Finish.Value - r.Start.Value : TimeSpan.MaxValue;
            return (long) totalTime.TotalSeconds;
        }))
    {
        var totalTime = racer.Finish.HasValue && racer.Start.HasValue ? racer.Finish.Value - racer.Start.Value : TimeSpan.MaxValue;
        string time = totalTime == System.TimeSpan.MaxValue ? "--:--:--" : (int) totalTime.TotalHours + totalTime.ToString(@"\:mm\:ss");

        <tr>
            <td>
                <div class="col-12">?</div>
            </td>
            <td>
                <div class="col-12">@racer.LastName</div>
            </td>
            <td>
                <div class="col-12">@racer.FirstName</div>
            </td>
            <td>
                <div class="col-12">@racer.Start?.ToString("dd HH:mm:ss")</div>
            </td>
            <td>
                <div class="col-12">@racer.Finish?.ToString("dd HH:mm:ss")</div>
            </td>
            <td>
                <div class="col-12">@time</div>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter] public string ActionId { get; set; }
    [Parameter] public ActionResultsModel.RaceResultsDto Race { get; set; }
    [Parameter] public ActionResultsModel.CategoryResultsDto Category { get; set; }
}