@page "/actions/{TypeId}"

@inherits ActionsViewBase

@inject IStringLocalizer<Resource> localizer


@if (Model  == null)
{
    <Loading />
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@localizer["Actions.Term&AddressOfAction"]</th>
            <th>@localizer["Actions.Name&DescriptionOfAction"]</th>
            <th>@localizer["Actions.EnrolledRaces"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var action in Model)
        {
            <tr>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">@action.Begin.ToString("d.M. yyyy") - @action.End.ToString("d.M. yyyy")</div>
                            <div class="col-12">@action.City</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">@action.Name</div>
                            <div class="col-12">@action.Description</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            @foreach (var race in @action.Races)
                            {
                                <div class="col-12">
                                    @race.Name
                                </div>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
